<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :image_file_size, class: "alert alert-error" %>
  <%= f.full_error :image_content_type, class: "alert alert-error" %>

  <div class="form-inputs">
    
    <%= f.input :idea, label: 'Clean Energy Project Idea Discription', placeholder: "I want to put solar panels on my roof." %>
    <%= f.input :address, label: 'Project Location Address', placeholder: "123 Main Street" %>
    <%= f.input :zipcode, label: 'Zip Code Where The Project Is Located', placeholder: "12345" %>
    <%= f.input :problem, label: 'What Is The Problem You Are Trying To Solve?', placeholder: "The problems is that..." %>
    <%= f.input :solution, label: 'What Is Your Suggested Solution To The Problem?', placeholder: "I believe the solution is..." %>
    <%= f.input :image, label: "Attach Files! (Get visual! Attachments must be under 5MB, and only images ending in .JPG, .GIF, and .PNG will appear in thumbnail form)", class: "btn btn-large btn-success" %>
    <%#= f.input :tag_list, label: "Tags (separated by commas)", placeholder: "Enter Tags"  %>


    <%#*<div style="float: left;width: 100%;">%>
      <%#*<div id="video_search_by_tags" style="float:left; width:auto; padding-top: 10px; margin-top: 8px; margin-bottom: 8px;">%>
        <%#*<input type="text" id="demo-input-facebook-theme" name="tags_list" />%>
      <%#*</div>%>
    <%#*</div>%>

    <script type="text/javascript">
      $(document).ready(function() {
        $("#demo-input-facebook-theme").tokenInput("/search/tags_list", {
          theme: "facebook",
          prePopulate: [<%= raw (params[:tags_list].split(',').collect{ |tag_name| "{name : '#{tag_name}'  }" }.join(',')) unless params[:tags_list].blank? %>],
          tokenValue: 'name',
          preventDuplicates:  true,
          hintText: "Search tags",
          noResultsText: "no tag found",
          searchingText: "Searching tags ..."
        });
      });
    </script>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-large btn-success" %>
  </div>
<% end %>
