<h1>My Clean Energy Projects</h1>

<%= link_to 'New Project', new_project_path %><br>

<table>
  <tr>
    <th>Creator</th>
    <th>Idea</th>
    <th>Address</th>
    <th>Zipcode</th>
    <th>Problem</th>
    <th>Solution</th>
    <th>Tags</th>
    <th>Created</th>
    <th>Show</th>


    <th>Edit</th>
    <th>Delete</th>

    <th>Vote</th>

  </tr>

  <% @projects.each do |project| %>
    <tr>
      <td><%= project.user.name %></td>
      <td><%= project.idea %></td>
      <td><%= project.address %></td>
      <td><%= project.zipcode %></td>
      <td><%= project.problem %></td>
      <td><%= project.solution %></td>
      <%if project.tag_list.present?%>
        <td><%= raw project.tag_list.map { |t| link_to t}.join(",")%></td>
      <%else%>
        <td> None </td>
      <%end%>
      <td><%= time_ago_in_words(project.created_at) %> ago.</td>
      <td><%= link_to 'Show', project %></td>

      <% if current_user == project.user %>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      <td>
        <div id='<%= "voting_#{project.class.to_s}_#{project.id}" %>'>
          <%= render :partial => "shared/voting", :locals => {:object => project} %>
        </div>
      </td>
    </tr>
  <% end %>
</table>




