<footer class="footer fixed-bottom">
  <nav>
    <ul>
      <li><%= link_to "Browse Investments", browse_investments_path %></li>
      <li><%= link_to "Participate", participate_path %></li>
      <li><%= link_to "Submit A Project", submit_project_path %></li>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><%= link_to "Careers", '#' %></li>
      <li><%= link_to "News", '#' %></li>
      <li><%= link_to "Terms & Conditions", '#' %></li>
    </ul>
  </nav>
</footer>